.git
.gitignore
.DS_Store
.data
*.log
*.tsbuildinfo

backend/bin
backend/game-meta-browser

frontend/dist
frontend/node_modules
node_modules
.node_modules_broken

.env
.env.*
docker-compose.override.yml
